
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background: linear-gradient(#FFF 0%, #FF3D00 100%);
    font-family: 'Roboto', sans-serif;
}

#tilte{
  text-align: center;
  margin: 5vh auto;
  font-size: 5vw;
  text-transform: uppercase;
  text-decoration-line: overline;
  text-decoration-color: #FF3D00;
}

.form{
    display: flex;
    justify-content: space-around;
    height: 8vh;
    margin-bottom: 4vh;
    }
.champ{
    width: 72vw;
    background-color: transparent;
    padding-left: 1vw;
}

input{
  outline-color: #F2AA00;
}

.champ, .btn{
    border: 2px solid #F2AA00;
    border-radius: 5px;
    font-size: 7vw;
}

.btn{
    width: 27vw;
    background-color: #F2AA00;
    color: #FFF;
    cursor: pointer;
    transition:  0.5s;
}

.btn:hover{
  background-color: #ecaf1f;
}
.noTache{
    font-style: italic;
    font-size: 6vw;
    margin-left: 1vw;
}

ol {
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  li {
    counter-increment: my-awesome-counter;
    color: #000;
    background-color: #fff;
    margin-bottom: 2px;
    border-radius: 5px;
    font-size: 6vw;
    display: flex;
    align-items: center;
  }
 
  li::before {
    content: counter(my-awesome-counter) "~ ";
    color: #747474;
  }

  .delete, .urgent{
    cursor: pointer;
    transition: all 0.5s;
  }
  .delete{
    color: orangered;
  }

  .urgent{
    color: gray;
  }

  .delete:hover, .urgent:hover{
    transform: rotate(360deg);
  }

  .gold{
    color: #F2AA00;
  }
  .texte{
    display: inline-block;
    width: 78vw;
    word-wrap: break-word;
  }
  .spanOpt{
    display: flex;
    flex: auto;
    justify-content: flex-end;
  }

  .material-icons.md-24{
    font-size: 6vw;
  }

  /* medias Queries */

  @media screen and (min-width: 700px) {
    .champ, .btn{
      font-size: 3rem;
    }
    .noTache, .material-icons.md-24, li{
      font-size: 2.5rem;
    }
  }